.assignment{
    background-color: black;
}

.assignment-section-name {
    margin-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 4em;
}

.assignment-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.assignment-card {
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 296px;
    height: 200px;
    background-color: black;
    box-shadow: inset 5px 5px 10px #000000, inset -5px -5px 10px #0e7910;
    border-radius: 51px;
    border: 5px solid #0e7910;
    margin: 50px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.5s;
}


.assignment-card:hover {
    height: 300px;
}

.lll {
    position: relative;
    top: 29px;
    display: flex;
    text-align: center;
    height: 60px;
    color: #ffffff;
    font-size: 30px;
    margin: 0px;
    padding: 5px;
    border-radius: 50%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.content-as {
    text-align: center;
    display: flex;
    color: #999;
    padding: 10px;
    margin: 2px;
    border-radius: 8px;
    transform: translateY(-80px) scale(0);
    transition: all 0.5s;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.assignment-card:hover .content-as {
    transform: translateY(0) scale(1)
}



.assignment-title {
    margin-top: -219px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.assignment-title-description {
    color: white;
    margin: 10px 0;
    font-size: 12px;
    line-height: 1.4;
}

.preview-button {
    margin: 4px;
    display: flex;
    box-shadow: 0 0 20px green;
    border-radius: 20px;
    color: white;
    background: black;
    border: 1px solid green;
    width: 8vw;
    height: 4vw;
    transition: 0.4s ease;
    align-items: center;
    justify-content: center;
}


.preview-button:hover {
    transform: scale(1.03);
    background-color: green;

}
@media all and (max-width: 1024px){
    .preview-button {
        width: 11vw;
        height: 4vw;
    }

}

@media all and (max-width: 768px){
    /*.assignment-section-name {*/
    /*    font-size: 8vw;*/
    /*    font-family: Arial, sans-serif;*/
    /*}*/
    .preview-button {
        width: 15vw;
        height: 6vw;
    }
}




@media all and (max-width: 480px){
    .assignment-section-name {
        font-size: 12vw;
        font-family: Arial, sans-serif;
    }
    .preview-button {
        width: 26vw;
        height: 10vw;
    }
}


@media all and (max-width: 320px){
    .preview-button {
        width: 34vw;
        height: 11vw;
    }
}
