.education {
    background: black;
}

#education-section-name {
    margin-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 4em;
}

.education-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.education-tag {
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 546px;
    height: 253px;
    background-color: black;
    box-shadow: inset 5px 5px 10px red, inset -5px -5px 10px #0e7910;
    /* border-radius: 51px; */
    /* border: 5px solid #0e7910; */
    margin: 50px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;

}
.logo{
    position: relative;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: -25px;
    z-index: 10;
}

@media all and (max-width: 480px){
    #education-section-name {
        font-size: 12vw;
        font-family: Arial, sans-serif;
    }
}
/*@media all and (max-width: 768px){*/
/*    #education-section-name {*/
/*        font-size: 8vw;*/
/*        font-family: Arial, sans-serif;*/
/*    }*/
/*}*/
