footer {
    background: green;
    color: #EEEEEE;
    padding: 10px;
    justify-content: center;
    /*position: fixed;*/
    align-items: center;
    display: flex;
    margin: auto;
    height: 10px;
    bottom: 0;
    z-index: 1000;

}


@media all and (max-width: 480px){
    footer {
        background: green;
        color: #EEEEEE;
        padding: 10px;
        justify-content: center;
        /*position: fixed;*/
        align-items: center;
        display: flex;
        margin: auto;
        height: 10px;
        bottom: 0;
        z-index: 1000;

    }
}