.header-navigation-bar {
    display: flex;
    background: black;
    width: 100vw;
    height: 50px;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-top: -50px;
    z-index: 100;

}

.nav-container .header-nav-links {
    font-family: "Urbanist", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 71vw;
    font-size: 1.5vw;
    margin-right: 57px;
    align-items: center;
}

.header-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: -344px;
}

 .header-nav-links a{
        position: relative;
        font-size: 1.2rem;
        color: white;
        margin: 0 20px;
        text-decoration: none;
        font-weight: 550;
        transition: 0.3s linear;
}

 .header-nav-links a:before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background: green;
    transition: 0.2s linear;
}

 .header-nav-links a:hover::before{
    width: 100%;
}

 .header-nav-links a:hover{
    color: green;
}


.name span{
    color: green;
    text-shadow: 0 0 10px green;
}

.name {
    margin-left: 26px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.dropdown .menu-links a{
    display: none;
}

.menu-icon{
  display: none;
}


@media all and (max-width: 768px) {
    .hamburg,
    .cancel {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 10px;
        color: white;
        font-size: clamp(2.5em, 0.5em + 5vw, 3em);
    }

    .dropdown {
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        transform: translateY(0px);
        height: auto;
        backdrop-filter: blur(4px) brightness(40%);
        box-shadow: 0 0 20px black;
        transition: 0.2s linear;
    }

    .dropdown .menu-links a {
        display: flex;
        color: white;
        text-decoration: none;
        justify-content: center;
        padding: 15px 0;
        align-items: center;
        transition: 0.2s linear;
    }

    .dropdown .menu-links a:hover {
        background-color: green;
    }

    .menu-icon {
        display: block;
        position: fixed;
        margin-top: -19px;
        right: 20px
    }

    .menu-icon-size{
       font-size: 35px;
    }

    #sidebar {
        display: flex;
        width: 0;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.5s;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    #sidebar.active {
        width: 763px;
    }

    .menu-links {
        width: 763px;
    }


}


@media all and (max-width: 480px){
    #sidebar.active {
        width: 423px;
    }

    .menu-links {
        width: 423px;
    }


}

@media all and (max-width: 320px){
    #sidebar.active {
        width: 318px;
    }

    .menu-links {
        width: 318px;
    }
}

/*@media all and (max-width: 375px){*/
/*    #sidebar.active {*/
/*        width: 370px;*/
/*    }*/

/*    .menu-links {*/
/*        width: 370px;*/
/*    }*/
/*}*/