.header-navigation-bar {
    display: flex;
    background: black;
    width: 100vw;
    height: 50px;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-top: -50px;

}

.nav-container .header-nav-links {
    font-family: "Urbanist", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 71vw;
    font-size: 1.5vw;
    margin-right: 57px;
    align-items: center;
}

.header-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: -344px;
}

 .header-nav-links a{
        position: relative;
        font-size: 1.2rem;
        color: white;
        margin: 0 20px;
        text-decoration: none;
        font-weight: 550;
        transition: 0.3s linear;
}

 .header-nav-links a:before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background: green;
    transition: 0.2s linear;
}

 .header-nav-links a:hover::before{
    width: 100%;
}

 .header-nav-links a:hover{
    color: green;
}


.name span{
    color: green;
    text-shadow: 0 0 10px green;
}

.name {
    margin-left: 26px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.dropdown .menu-links {
    display: none;
}


@media all and (max-width: 768px){
    .hamburg,
    .cancel {
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 10px;
        color: white;
        display: block;
        font-size: clamp(2.5em, 0.5em + 5vw,3em);
    }

    .dropdown{
        z-index: 100;
        position: absolute;
        top: 0;
        transform: translateY(0px);
        width: 100%;
        height: auto;
        backdrop-filter: blur(4px) brightness(40%);
        box-shadow: 0 0 20px black;
        transition: 0.2s linear;
    }

    .dropdown .menu-links a{
        display: flex;
        color: white;
        text-decoration: none;
        justify-content: center;
        padding: 15px 0;
        align-items: center;
        transition: 0.2s linear;
    }
    .dropdown .menu-links a:hover{
        background-color: green;
    }
}







/*header {*/
/*    color: #EEEEEE;*/
/*    background: darkgoldenrod;*/
/*    height: 50px;*/
/*    border-radius:  90px;*/
/*    border: 5px greenyellow ;*/
/*    position: sticky;*/
/*    z-index: 1000;*/
/*    width: 60%;*/
/*    top: 20px;*/
/*    margin: auto;*/


/*}*/

/*.mylogo {*/
/*    width: 150px;*/
/*    height: 100px;*/
/*    left: 100px;*/
/*    position: absolute;*/
/*    top: 4px;*/
/*}*/


/*nav {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    position: relative;*/
/*    !*padding-right: 25px;*!*/
/*}*/

/*nav .div3 {*/

/*    !*display: flex;*!*/
/*    !*align-items: center;*!*/
/*    !*right: 100px;*!*/
/*    !*left: 10px;*!*/
/*    width: 100%;*/
/*    display: flex;*/
/*    position: relative;*/
/*    padding-left: 20px;*/
/*}*/

/*nav .div1 {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    !*justify-content: flex-end;*!*/
/*    position: relative;*/
/*    !*margin-right: 30px;*!*/
/*    padding-left: 100px;*/
/*}*/
/*nav a {*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    margin: 15px;*/
/*    font-size: 1em;*/
/*}*/

/*nav a:hover {*/
/*    text-decoration: underline;*/
/*}*/

/*.cercal {*/
/*    background: white;*/
/*    border-radius: 50%;*/
/*    border: black solid 1px;*/
/*    width: 75px;*/
/*    height: 75px;*/
/*    position: absolute;*/
/*    top: 60%;*/
/*    left: 50%;*/
/*    text-space: 30;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

/*.cercal>input[type="image"] {*/
/*    border-radius: 50%;*/
/*    width: 70px;*/
/*    height: 70px;*/
/*    position: absolute;*/
/*    top: 48.9%;*/
/*    left: 50%;*/
/*    text-space: 30;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

/*@media (max-width: 1026px) {*/
/*    header {*/
/*        color: #EEEEEE;*/
/*        background: darkgoldenrod;*/
/*        height: 50px;*/
/*        border-radius:  90px;*/
/*        border: 5px greenyellow ;*/
/*        position: sticky;*/
/*        z-index: 1000;*/
/*        width: 83%;*/
/*        top: 20px;*/
/*        margin: auto;*/


/*    }*/
/*}*/