#home-section {
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: black;
    color: white;
}

#hero-section {
    margin-top: 50px;
}

.image {
    margin-top: 31px;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: 0 0 50px rgb(14, 121, 16);
    animation: colorChange 3s infinite alternate, boxShadowFlicker 3s infinite alternate; /* Match duration with colorChange */

}


/*.image #home-section-img:hover{*/
/*    animation: animate 1.5s ease-in-out infinite;*/
/*}*/

.card {
    margin-top: -14px;
    width: fit-content;
    height: fit-content;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 3px;
    gap: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.055);
}


.socialContainer {
    border: greenyellow solid 2px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: rgb(4 53 5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

.socialContainer:hover{
    scale: 1.3;
    color: black;
    background: green;
    filter: drop-shadow(0 0 10px green);
}

.containerOne:hover {
    background-color: green;
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*.social-links i{*/
/*    display: inline-flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 4rem;*/
/*    height: 4rem;*/
/*    background: transparent;*/
/*    border: 0.2rem solid green;*/
/*    border-radius: 50%;*/
/*    color: green;*/
/*    margin: 16px 6px;*/
/*    transition: 0.2s linear;*/
/*}*/

/*.social-links i:hover{*/
/*    scale: 1.3;*/
/*    color: black;*/
/*    background: green;*/
/*    filter: drop-shadow(0 0 10px green);*/
/*}*/

/*.social-links i img{*/
/*    width: 41px;*/
/*    height: 41px;*/
/*}*/



@keyframes animate {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}

@keyframes colorChange {
    0% {
        background-color: rgb(0, 0, 0);
    }
    50% {
        background-color: rgb(0, 0, 0);
    }
    100% {
        background-color: rgb(0, 0, 0);
    }
}

@keyframes boxShadowFlicker {
    0% {
        box-shadow: 0 0 50px rgb(14, 121, 16);
    }
    50% {
        box-shadow: 0 0 50px rgb(14, 121, 16);
    }
    100% {
        box-shadow: 0 0 50px rgb(255, 6, 6);
    }
}

#home-section-img {
    width: 355px;
    margin-top: 24px;
    height: 45vw;

}

.content {
    font-size: 3.5vw;
    font-family: "Urbanist", sans-serif;
    font-weight: bold;
}


.content>div:nth-child(2) {
    color: green;
    text-shadow: 0 0 10px green;
}



@media all and (max-width: 768px) {
    #home-section {
        flex-direction: column;
    }

    .content {
        margin-top: 50px;
        text-align: center;
    }

    .card {
        margin: auto;
    }


    .header-nav-links .link {
        display: none;
    }

    .image {
        width: 266px;
        margin-top: 56px;
        overflow: hidden;
        border-radius: 100%;
        box-shadow: 0 0 50px rgb(14, 121, 16);
        animation: colorChange 3s infinite alternate, boxShadowFlicker 3s infinite alternate; /* Match duration with colorChange */

    }

    #home-section-img {
        width: 215px;
        margin-left: 30px;


    }

}




@media all and (max-width: 480px) {
    #home-section {
        display: flex;
    }

    .card {
        margin: auto;
    }

    .image {
        overflow: hidden;
        width: 210px;
    }

    #home-section-img {
        margin-top: 44px;
        margin-left: 33px;
        width: 142px;
        height: 208px;
    }

    .socialContainer {
        margin-top: 20px;
    }

    .content {
        font-size: 7vw;
    }

}






/*.home-section .image {*/
/*    width: 478px;*/
/*    height: 72vh;*/
/*    border-radius: 100%;*/
/*    overflow: hidden;*/
/*    box-shadow: 0 0 50px rgb(14, 121, 16);*/
/*    animation: colorChange 3s infinite alternate, boxShadowFlicker 3s infinite alternate; !* Match duration with colorChange *!*/
/*}*/

/*.main-container .image:hover{*/
/*    animation: animate 1.5s ease-in-out infinite;*/
/*}*/

/*@keyframes animate {*/
/*    0%{*/
/*        scale: 1;*/
/*    }*/
/*    50%{*/
/*        scale: 1.05;*/
/*    }*/
/*    100%{*/
/*        scale: 1;*/
/*    }*/
/*}*/

/*@keyframes colorChange {*/
/*    0% {*/
/*        background-color: rgb(14, 121, 16);*/
/*    }*/
/*    50% {*/
/*        background-color: rgb(14, 121, 16);*/
/*    }*/
/*    100% {*/
/*        background-color: rgb(14, 121, 16);*/
/*    }*/
/*}*/

/*@keyframes boxShadowFlicker {*/
/*    0% {*/
/*        box-shadow: 0 0 50px rgb(14, 121, 16);*/
/*    }*/
/*    50% {*/
/*        box-shadow: 0 0 50px rgb(14, 121, 16);*/
/*    }*/
/*    100% {*/
/*        box-shadow: 0 0 50px rgb(255, 6, 6);*/
/*    }*/
/*}*/
