.projects {
   background-color: black;
}

.project-section-name {
    margin-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 4em;
}

.project-section {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.project-card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 3px 5px 0px green;
    border-radius: 30px;
    max-width: 210px;
    min-width: 180px;
    min-height: 300px;
    max-height: 400px;
    margin: 20px;
    transition: 0.3s ease;
}

.project-card:hover {
    box-shadow: green 0 0 25px, 0 0 50px green;
    transform: scale(1.02);
}

.project-card .project-image{
    max-width: 300px;
    border-radius: 1em;
    object-fit: cover;
}

.project-name {
    color: white;
    font-family: serif;

}


.btn {
    background: green;
    border-radius: 20em;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    height: 2em;
    width: 171px;
    margin: auto;
    font-size: 1em;
    transition: 0.2s;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 137px;
}

.btn:hover {
    box-shadow: red 0 0 2px, 0 0 25px red;
    transform: scale(1.02);
}

/*@media all and (max-width: 768px){*/
/*    .project-section-name {*/
/*        font-size: 8vw;*/
/*        font-family: Arial, sans-serif;*/
/*    }*/
/*}*/

@media all and (max-width: 480px){
    .project-section-name {
        font-size: 12vw;
        font-family: Arial, sans-serif;
    }
}



